---
http_interactions:
- request:
    method: get
    uri: https://api.blockcypher.com/v1/btc/test3/addrs/tb1qqmw2g6tghrcqdgeas2eawpcpyr537xc0ukf222/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "address": "tb1qqmw2g6tghrcqdgeas2eawpcpyr537xc0ukf222",
          "total_received": 4846729,
          "total_sent": 0,
          "balance": 4846729,
          "unconfirmed_balance": 0,
          "final_balance": 4846729,
          "n_tx": 2,
          "unconfirmed_n_tx": 0,
          "final_n_tx": 2,
          "txs": [
            {
              "block_hash": "00000000000022f2b5ecdf15c843d43211f10325dc203ef83ddc1f185c55830e",
              "block_height": 2540886,
              "block_index": 73,
              "hash": "dbdd77c3f855611e98b236ab2dbaecdf857b310867ba9bd25d00a9ae97efdfaf",
              "addresses": [
                "2MvraV379gpkkEC9kzr1bb5CffkNC5cpgUf",
                "2MxbFz5ioREe7LRRwknK5nKeo958GTBUScd",
                "2N25SDvZA6iU9omy4SRXt5bh9phCAJ7PXpy",
                "2NAeAtRc4v8MqzXNMXcPSPc6XhBiPYphYLV",
                "2NCVc4wGk6wfTX5kSDom2iRsMj1EVP5K9Hs",
                "2NChkJ7Ps7QKumBmwf9nvy3wRZSkgmRVjKN",
                "muLxWhgCFR15MwhZvs83h9TE2bUds8nATA",
                "mxkVqZrXmiWgj75vsp2GgCUQYHP5AMHs4Y",
                "tb1pdn48q3g463qmxeqt8lezr4my4w9k45y3ryv5s6[...]
