---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BTC-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"f23beca76975a48cdfd807f7b2325631"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"BTC","currency":"USD","amount":"3847.715"}}'
  recorded_at: Sun, 06 Jan 2019 06:17:09 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/ETH-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"18049f93c854cad2425f2a4ef68cc599"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"ETH","currency":"USD","amount":"152.97"}}'
  recorded_at: Sun, 06 Jan 2019 06:17:09 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BCH-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"77a093734a450f62c9c7c6605cb9010d"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"BCH","currency":"USD","amount":"167.82"}}'
  recorded_at: Sun, 06 Jan 2019 06:17:09 GMT
recorded_with: VCR 4.0.0
