---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BCH-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"b660661171f1c14502e61d57793828bd"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"BCH","currency":"USD","amount":"587.97"}}'
  recorded_at: Sun, 11 Nov 2018 17:54:00 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BTC-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"4f5f2ad82a3963f92662806d45ab3edf"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"BTC","currency":"USD","amount":"6424.00"}}'
  recorded_at: Sun, 11 Nov 2018 17:54:00 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/ETH-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"3f88f9ab53d68d44e3364543ddfdb274"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"ETH","currency":"USD","amount":"211.81"}}'
  recorded_at: Sun, 11 Nov 2018 17:54:00 GMT
recorded_with: VCR 4.0.0
