---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/BTC-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"50113d3b29ac6ba037f591afa45666d5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"BTC","currency":"USD","amount":"6399.36"}}'
  recorded_at: Thu, 25 Oct 2018 12:03:55 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/prices/ETH-USD/spot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"efc1bc8e6732bdf6cba86c542ae05a3f"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"base":"ETH","currency":"USD","amount":"201.96"}}'
  recorded_at: Thu, 25 Oct 2018 12:03:55 GMT
recorded_with: VCR 4.0.0
