---
http_interactions:
- request:
    method: get
    uri: https://api-sepolia.etherscan.io/api?action=txlist&address=0xebB838Cdb3e3F628f50BF0EDaC1E92b208149984&module=account&tag=latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"status":"1","message":"OK-Missing/Invalid API Key, rate limit of
        1/5sec applied","result":[{"blockNumber":"4794460","timeStamp":"1701336480","hash":"0xeeadb31b3c646b74a8c1270626ab8e539d7a7e2369e98541f85f8a41cc4b49e9","nonce":"404240","blockHash":"0x3cd7ca8c2b1a4d2df804538462676c7dde471654f45cb15476982a9b3d3845fe","transactionIndex":"3","from":"0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455","to":"0xebb838cdb3e3f628f50bf0edac1e92b208149984","value":"51504000000000000","gas":"21000","gasPrice":"2166305619","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"1155056","gasUsed":"21000","confirmations":"22","methodId":"0x","functionName":""},{"blockNumber":"4794471","timeStamp":"1701336660","hash":"0x72579c512ac244134f890bd617fa28c576d52a81e275c68a15bd5eb180f396ae","nonce":"404242","blockHash":"0x73b73bbbbaf3e9ffcb42b843e1948231bac0193e278225957f773ede3670fe44","transactionIndex":"29","from":"0x6cc9397c3b38739dacbfaa68ead5f5d77ba5f455","to":"0xebb838cdb3e3f628f50bf0edac1e92b208149984","value":"58123650000000000","gas":"21000","gasPrice":"2192798508","isError":"0","txreceipt_status":"1","input":"0x","contractAddress":"","cumulativeGasUsed":"24153119","gasUsed":"21000","confirmations":"11","methodId":"0x","functionName":""}]}'
  recorded_at: Thu, 30 Nov 2023 09:33:43 GMT
recorded_with: VCR 4.0.0
