<h1>Editing coin payment</h1>

<%= render "form", cryptocoin_payable_coin_payment: @cryptocoin_payable_coin_payment %>

<br>

<div>
  <%= link_to "Show this coin payment", @cryptocoin_payable_coin_payment %> |
  <%= link_to "Back to coin payments", cryptocoin_payable_coin_payments_path %>
</div>
